.breadcrumb {
  background-color: #ededed;
  *margin-left:0;
}
.breadcrumb > li {
    display: inline-block;
   _zoom:1;
  *display:inline;
}
/** For IE 6/7 only **/
.breadcrumb li s {
    display: block;
    padding: 0 5px;
    color: #ccc;
    text-decoration: none;
}
/** For IE 6/7 only **/
.breadcrumb li{
    *zoom: ~"expression(this.runtimeStyle['zoom'] = '1',this.appendChild(document.createElement('s').appendChild(document.createTextNode('\00a0/\00a0'))))";
}
.breadcrumb li.active{
    *zoom: ~"expression(this.runtimeStyle['zoom'] = '1',this.removeChild(this.lastChild)";
}
